.posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 16px;
  }
  
  .post-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .color-box {
    width: 100px;
    height: 100px;
    background-color: var(--color);
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .color-text{
    color: var(--color)
  }

  