/*IPHONE 16: 402 X 874*/
.post-list-container {
  padding: 10px;
  min-height: 100vh; 
  width: 100%;   
  min-width: 100vw; 
  box-sizing: border-box;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 60px;
  gap: 10px;
}

 
@media (min-width: 480px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}


@media (min-width: 768px) {
  .posts-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  }
}
  
.post-item {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
}
  
/* rectangulo color */
.color-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
}
  
/* Boton save */
.save-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border:none;
  padding: 8px;
  cursor: pointer;
  outline:none;
}
  
.save-button img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); /*para cambiar el color nrego predet del icono svg*/
}

/* Texto HEX girado */
.hex-text {
  position: relative;
  left: 15%;
  top: 90%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: left top;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  padding: 2px 4px;
}