 .detail-container {

  position: fixed; 
 
  top: 10vh;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  
  
  
}

.detail-card {
    width: 85%; 
  padding: 30px;
    height: 50%;
  
  text-align: center;
  font-family: sans-serif;
}
.save-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border:none;
  padding: 8px;
  cursor: pointer;
  outline:none;
}
  
.save-button img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); /*para cambiar el color nrego predet del icono svg*/
}


.color-swatch-container{
  width: 300px;
  aspect-ratio: 1 / 1;

  border-radius: 15px;
  margin-bottom: 25px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  
  
  overflow: hidden; 
  position: relative;
}

.overlay-info {
  
  color: white; 
  
  padding: 20px 30px;
  border-radius: 12px;
  text-align: left;
  max-width: 90%; 
}


.detail-info {
 
text-align: left ;
  font-size: 16px;
  color: white;
  padding: 2px 4px;
}

.palette-generator{
    display:inline-block;
    margin-top: 20px;
}
.back-btn {
  display: inline-block;
  
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #cccccc;
  color: rgb(62, 62, 62);
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.back-btn:hover {
  background-color: #626262;
}



/* COLOR COMPLEMENTARIO */
.complementario-container {
  display: grid;
  grid-template-columns: auto 150px; 
  align-items: center;
  gap: 30px;
  margin: 30px auto 25px auto;
  width: 300px;
  height: 8vh;

  justify-content: center;
  overflow: hidden; 
  position: relative;
  
}

.complementario-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.complementario-rect {
  width: 150px;
  height: 75px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;  
}

.complementario-hex {
  position: absolute;
  top: 50%;
  left: 90%;

  transform: translate(-50%, -50%) rotate(-90deg);

  font-size: 12px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  pointer-events: none;
}
