/* --- PESTAÑAS--- */
.fav-header {
  padding: 10px 20px;
  text-align: center;
}

.fav-tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.tab-btn {
  padding: 10px 24px;
  border: none;
  border-radius: 25px; 
  background-color: #f0f0f0;
  color: #666;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* botón está activo */
.tab-btn.active {
  background-color: #333; 
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.empty-message {
  text-align: center;
  padding: 40px;
  color: #888;
}

.favorites-grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
}

.favorites-grid h2 {
  display: none; 
}


.favorites-grid .post-item {
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* --- Cuadrícula de 3 --- */
.favorites-grid {
  padding: 10px; /* Igual que en ColorList */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 10px; 
  list-style: none;
}

/* Título */
.favorites-grid h2 {
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* --- CUBO  --- */
.favorites-grid .post-item {
  aspect-ratio: 1 / 1; 
  border-radius: 12px; 
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}



.favorites-grid .color-box {
  width: 100%;
  height: 100%;
  position: relative; 
  display: block; 
}

.favorites-grid .save-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10; 
}

.favorites-grid .save-button img {
  width: 30px;
  height: 30px;

  filter: brightness(0) invert(1); 
}

.favorites-grid .hex-text {
  position: absolute;
  left: 15px;
  top: 90%; 
  transform: rotate(-90deg);
  transform-origin: left top;
  font-size: 18px;
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  white-space: nowrap;
}

