.footer {
width:50%;
position: fixed;
bottom: 20px;
left: 50%;
z-index: 100;
transform: translateX(-50%);
background-color: #ececec;
padding: 10px 50px;
border-radius: 25px;
display: flex;
gap: 50%;
justify-content: space-between; 
align-items: center;

box-shadow: 0 4px 12px rgba(0,0,0,0.3);

}
  

.active-indicator {
position: absolute;
 top: 0;
 left: 0;
bottom: 0;
width: 50%; 
height: 100%; 
background-color: #d1d1d1; 
border-radius: 25px; 
transition: transform 0.3s ease-in-out;
z-index: -1; 
    }
    .is-active-home {
 transform: translateX(0);
    }
    .is-active-favorites {
transform: translateX(100%); 
    }




.footer-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    z-index: 2;

    flex-grow: 1;
    text-align: center;

}
  
.footer-button img {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(0.25); 
    justify-content: center;
    align-items: center;
}
  

@media (min-width: 768px) {
    .footer {
        gap: 50px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .footer {
        gap: 70px;
    }
}