.footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dfdfdf;  
    padding: 10px 30px;
    border-radius: 25px;        
    display: flex;
    gap: 40px;                 
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 100;
  }
  
  .footer-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .footer-button img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(0.25); /* Iconos blancos */
  }
  