.footer {
    width:50%;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ececec;  
    padding: 10px 50px;
    border-radius: 25px;        
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    
  }
  
  .footer-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .footer-button img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(0.25); /* Iconos blancos */
  }
  