.header-detail {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh; 
    
    background-color: #f0f0f0; 
    color: #333;

    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.right-group {

    width: 65px; 
    flex-shrink: 0; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.left-group {
    width: 65px; 
    flex-shrink: 0;
    
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}


.header-detail-title {
    font-family: 'Tuffy', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    flex-grow: 1; 
    text-align: center;
}

.return-button {
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-shrink: 0; /* No se encoge */
}

.return-button img {
    width: 24px;
    height: 24px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex-shrink: 0;
}