.header {
    position: fixed;        
    top: 0;
    left: 0;
    width: 100%;
    min-width: 100vw;
    height: 8%;
    background-color: #f5f5f5;  
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-title {
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


.switch {
    position: absolute;
    right: 10%;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 12px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

    input:checked + .slider {
    background-color: #2196F3;
}

    input:checked + .slider:before {
    transform: translateX(26px);
}

/* DARK MODE------------------------------------------------------------- */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode .header{
    background-color: #121212;
    box-shadow: 0 2px 8px rgba(92, 92, 92, 0.2);
}
  