.phone-frame {
    width: 393px;    /* iPhone 16 */
    height: 852px;   /* iPhone 16 */
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border-radius: 38px;
    border: 1px solid #ccc;
    overflow: hidden;
  
    display: flex;
    flex-direction: column;
    position: relative;
  }